.cash-cheque-page {
  min-height: 100dvh;
  color: black;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.payment-methods-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.payment-method-card {
  background-color: #111;
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 140px;
  text-align: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.payment-method-card:hover,
.payment-method-card.active {
  border-color: white;
  background-color: #222;
}

.payment-method-card i {
  font-size: 30px;
  margin-bottom: 10px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  max-width: 400px;
  width: 80%;
  text-align: center;
  color: black;
}

.modal-box h3 {
  margin-bottom: 15px;
}

.modal-box input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #aaa;
  border-radius: 6px;
}
.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modal-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.btn-black {
  flex: 1;
  background: black;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-outline {
  flex: 1;
  background: white;
  color: black;
  border: 2px solid black;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}


.comp-btn {
    flex: 1;
  background: black;
  color: white;
  border: 2px solid black;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}
